<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>SAE BDD</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/bootstrap.css') }}">
</head>
<body>
{% include('auth/_nav.html') %}
<div class="container">
    {% block body %}
        <h2>Site de vente : projet SAE S2 BDD</h2>
        <a href="/login" class="btn btn-primary">Se connecter</a>
        <a href="/signup" class="btn btn-outline-primary">S'inscrire</a>
        <br><br><a href="/base/init">Initialiser la base</a>
    {% endblock %}
</div>
</body>
</html>
