<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
  <div class="container-fluid">
    <a class="navbar-brand" href="/client/cable/show">🔌 CâbleShop</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navClient">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navClient">
      <ul class="navbar-nav me-auto">
        <li class="nav-item"><a class="nav-link" href="/client/cable/show">🏪 Boutique</a></li>
        <li class="nav-item"><a class="nav-link" href="/client/envies/show">💛 Liste d'envies</a></li>
        <li class="nav-item"><a class="nav-link" href="/client/commande/show">📦 Mes commandes</a></li>
        <li class="nav-item"><a class="nav-link" href="/client/coordonnee/show">👤 Mon compte</a></li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link" href="/logout">Déconnexion</a></li>
      </ul>
    </div>
  </div>
</nav>
